<form [formGroup]="employeeForm">
  <div class="row align-items-center mx-auto">
    <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('DepartmentName').invalid && getControl('DepartmentName').touched}" autocomplete="off" placeholder="Department Name" class="form-control" type="text" formControlName="DepartmentName"
          id="DepartmentName">
        <label for="DepartmentName">Department Name</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">

        <input [ngClass]="{'error': getControl('EmployeeCode').invalid && getControl('EmployeeCode').touched}" autocomplete="off" placeholder="Employee Code" class="form-control" type="text"
          formControlName="EmployeeCode" id="EmployeeCode">
        <label for="EmployeeCode">Employee Code</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">

        <input [ngClass]="{'error': getControl('EmployeeName').invalid && getControl('EmployeeName').touched}" autocomplete="off" id="EmployeeName" placeholder="Employee Name" class="form-control" type="text"
          formControlName="EmployeeName">
        <label for="EmployeeName">Employee Name</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div  class="form-floating">
        <input [ngClass]="{'error': getControl('MobileNo').invalid && getControl('MobileNo').touched}"   autocomplete="off" id="MobileNo" placeholder="Mobile No." class="form-control " type="number"
          formControlName="MobileNo"> <label for="MobileNo">Mobile no.</label>
      </div>
    </div>
     <div class="col-md-6 my-2">
      <div class="form-floating">

        <input [ngClass]="{'error': getControl('BusinessUnit').invalid && getControl('BusinessUnit').touched}" autocomplete="off" id="BusinessUnit" placeholder="Business Unit" class="form-control" type="text"
          formControlName="BusinessUnit">
        <label for="BusinessUnit">Business Unit</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">

        <input [ngClass]="{'error': getControl('SportName').invalid && getControl('SportName').touched}" autocomplete="off" id="SportName" placeholder="Sport Name" class="form-control " type="text"
          formControlName="SportName">
        <label for="SportName">Sport Name</label>
      </div>
    </div>
<!--     <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('EventName').invalid && getControl('EventName').touched}" autocomplete="off" id="EventName" placeholder="Event Name" class="form-control " type="text"
          formControlName="EventName">

        <label for="EventName">Event Name</label>
      </div>
    </div> -->
    <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('SportType').invalid && getControl('SportType').touched}" autocomplete="off" id="SportType" placeholder="Sport Type" class="form-control " type="text"
          formControlName="SportType">

        <label for="SportType">Sport Type</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('EventId').invalid && getControl('EventId').touched}" autocomplete="off" placeholder="Event Id" class="form-control " id="EventId" type="text"
          formControlName="EventId">

        <label for="EventId">Event Id</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('JerseyType').invalid && getControl('JerseyType').touched}" autocomplete="off" placeholder="Jersey Type" id="JerseyType" class="form-control " type="text"
          formControlName="JerseyType">

        <label for="JerseyType">Jersey Type</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('JerseySize').invalid && getControl('JerseySize').touched}" autocomplete="off" id="JerseySize" placeholder="Jersey Size" class="form-control " type="text"
          formControlName="JerseySize">

        <label for="JerseySize">Jersey Size</label>
      </div>
    </div>
        <div class="col-md-6 my-2">
      <div class="form-floating">

        <input [ngClass]="{'error': getControl('LocationCode').invalid && getControl('LocationCode').touched}" autocomplete="off" id="LocationCode" placeholder="Location Code" class="form-control" type="text"
          formControlName="LocationCode">
        <label for="LocationCode">Location Code</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('Location').invalid && getControl('Location').touched}" autocomplete="off" id="Location" placeholder="Location" class="form-control " type="text"
          formControlName="Location">

        <label for="Location">Location</label>
      </div>
    </div>
       <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('UserCity').invalid && getControl('UserCity').touched}" autocomplete="off" id="UserCity" placeholder="UserCity" class="form-control " type="text"
          formControlName="UserCity">

        <label for="UserCity">City</label>
      </div>
    </div>
       <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('State').invalid && getControl('State').touched}" autocomplete="off" id="State" placeholder="State" class="form-control " type="text"
          formControlName="State">

        <label for="State">State</label>
      </div>
    </div>
       <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('Region').invalid && getControl('Region').touched}" autocomplete="off" id="Region" placeholder="Region" class="form-control " type="text"
          formControlName="Region">

        <label for="Region">Region</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('AppliedDate').invalid && getControl('AppliedDate').touched}" autocomplete="off" id="AppliedDate" placeholder="Applied Date" class="form-control " type="date"
          formControlName="AppliedDate">

        <label for="AppliedDate">Applied Date</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('Status').invalid && getControl('Status').touched}" autocomplete="off" id="Status" placeholder="Status" class="form-control " type="text"
          formControlName="Status">

        <label for="Status">Status</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('StatusOn').invalid && getControl('StatusOn').touched}" autocomplete="off" id="StatusOn" placeholder="Status On" class="form-control " type="date"
          formControlName="StatusOn">
        <label for="StatusOn">Status on</label>
      </div>
    </div>
    <div class="col-md-6 my-2">
      <div class="form-floating">
        <input [ngClass]="{'error': getControl('TeamName').invalid && getControl('TeamName').touched}" autocomplete="off" id="TeamName" placeholder="Team Name" class="form-control " type="text"
          formControlName="TeamName">
        <label for="TeamName">Status on</label>
      </div>
    </div>
  </div>
  <div class="col-md-12 my-2 text-center">
    <button [disabled]="employeeForm.invalid" class="btn btn-primary my-auto mx-auto " *ngIf="!this.config.data.id"
      (click)="addEmployee()">Add</button>
    <button [disabled]="employeeForm.invalid" class="btn btn-primary my-auto mx-auto " *ngIf="this.config.data.id"
      (click)="updateEmployee(this.config.data?.id)">Update</button>
  </div>
</form>
